/* code for a more responsive webpage */
@media screen and (max-width: 768px) {
    /* CSS rules for screens up to 768px width */
  }
  
  @media screen and (max-width: 480px) {
    /* CSS rules for screens up to 480px width */
  }


  
  
  
body {
    height: 100vh;
    /* display: flex;
    align-items: stretch;
    justify-content:space-between;
    flex-direction: column; */
    background-image: url(Images/different-sport-balls.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
     }

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* width: 100%; */
}

.dropdown {
  
  padding: 15px;
}

.dropdown-content > a {
  display: block;
  border: 1px solid lightgray;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  text-decoration: none;
  color: white;
 
  
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.dropdown-content :hover {
  background-color:lightgrey;
}

h1 {
  text-align: center;
}

h2 {
  color: black;
  font-size: 20px;
}

#main-content {
  display: grid;
  place-content: center;
  grid-gap: 20px;
  grid-row: 10;

}

.display-message > input {
  display: grid;
  grid-template-columns: 5fr 5fr 5fr;
  background-color: lightgrey;
  font-size: 25px;
  
}

#detail-msg {

  padding: 50px 125px 50px 125px;
  text-align: center;
  border-radius: 1vh;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  background-color: lightgrey;
  margin-left: 30px;

}

#answer {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  justify-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 105px;
  text-align: center;
  border-radius: .5vh;
  padding: 15px 75px 15px 75px;
  background-color: lightgray;
  
}

#mainButton {
  
  width: 25%;
  margin-left: 225px ;
  border-radius: 1vh;
  font-size: 25px;

}

#enter-btn {
  margin: 0;
  width: 25%;
  margin-left: 225px ;
  border-radius: 1vh;
  font-size: 25px;
}
