
@media screen and (max-width: 1020px) {

  }
  
  @media screen and (max-width: 480px) {

  }


  
body {
    max-height: 100%;
    background-image: url(Images/4840638.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
     }

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

}

.dropdown {
  
  padding: 15px;
}

.dropdown-content > a {
  display: block;
  text-align: left;
  font-size: 50px;
  padding: 10px;
  text-decoration: none;
  color: white;
 
  
}

.dropdown-content {
  display: flex;
  justify-content: flex-start;
  
}


h1 {
  text-align: center;
  color: white;
}

h2 {
  display: grid;
  grid-row: 2;
  grid-column: 2;
  justify-content: center;
  color: white;
  font-size: 20px;
}
#winning-message {
  padding-bottom: 20px;
}

#message {
  padding-top: 25px;
 
}



#main-content {
  display: grid;
  place-content: center;
  grid-gap: 20px;
  grid-row: 10;

}

.display-message > input {
  display: grid;
  grid-template-columns: 5fr 5fr 5fr;
  background-color: lightgrey;
  font-size: 25px;
  
}

#detail-msg {

  padding: 50px 125px 50px 125px;
  text-align: center;
  border-radius: 1vh;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  background-color: lightgrey;
  margin-left: 30px;

}

#answer {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  justify-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 105px;
  text-align: center;
  border-radius: .5vh;
  padding: 15px 75px 15px 75px;
  background-color: lightgray;
  
}

#mainButton {
  
  width: 25%;
  margin-left: 225px ;
  border-radius: 1vh;
  font-size: 25px;

}

#enter-btn {
  margin: 0;
  width: 25%;
  margin-left: 225px ;
  border-radius: 1vh;
  font-size: 25px;
}
